@font-face {
    font-family: 'Valorant';
    src: url(/src/fonts/Valorant.ttf);
}

body{
    font-family: "Poppins", sans-serif;
    background-size: cover;
    max-width: 100vw;
}

.slideshow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.info {
    display: none;
}

.info.active {
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
    color: #fff;
}

.info {
    margin: 0 32px;
    max-width: 50%;
}

.info h1 {
    font-size: 3rem;
    font-family: "Valorant", sans-serif;
    text-transform: uppercase;
    margin-bottom: 80px;
    letter-spacing: 4px;
}

.info .description {
    font-size: 1.25rem;
    line-height: 40px;
    height: 300px;
    overflow: auto;
    padding-right: 15px;
}

.buttons-slideshow {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
}

.button:hover {
    background-color: #d1d1d1;
    border-color: #fff;
}

.button.selected {
    background-color: #262626;
    border-color: #fff;
}

.image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: none;
}

.image.active{
    display: block;
}

@keyframes changeImage {
    from {
        opacity: 0.85;
    }
    to {
        opacity: 1;
    }
}

main::after{
    content: "";
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(120deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 50%, rgba(0,0,0,1));
    z-index: -1;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    padding: 16px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

a {
    color: #fff;
}